<template>
  <b-icon
    :pack="pack"
    :icon="icon"
    :type="type"
    :size="size">
  </b-icon>
</template>

<script>
export default {
  name: 'BoxIcon',
  props: {
    icon: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      default: null,
    },
    size: {
      type: String,
      default: null,
    },
    pack: {
      type: String,
      default: 'mdi',
    },
  },
}
</script>
