<template>
  <b-message
    :type="type"
    :title="title"
    :closable="closable"
    :has-icon="hasIcon">
    <slot></slot>
  </b-message>
</template>

<script>
export default {
  name: 'BoxMessage',
  props: {
    type: String,
    title: String,
    closable: Boolean,
    hasIcon: Boolean,
  },
}
</script>

<style scoped lang="scss">
@import '~@/styles/components/message.scss';
</style>
