<template>
  <b-progress
    :type="type">
  </b-progress>
</template>

<script>
export default {
  name: 'BoxProgress',
  props: {
    type: {
      type: String,
      default: null,
    },
  }
}
</script>
