<template>
  <b-tooltip
    :type="type"
    :position="position"
    :label="label">
    <slot></slot>
  </b-tooltip>
</template>

<script>
export default {
  name: 'BoxTooltip',
  props: {
    type: String,
    position: String,
    label: String,
  },
}
</script>
