<template>
  <div class="column is-half-mobile is-one-quarter-tablet is-one-fifth-desktop">
    <div
      v-if="latest"
      class="card appimage"
      :class="installedState"
      @click="exploreApp">
      <div>
        <span class="label">{{ latest.name }}</span>
      </div>
      <img
        class="thumbnail"
        :src="iconUrl"/>
      <span class="description">{{ latest.short_description }}</span>
    </div>
  </div>
</template>

<script>
import BoxIcon from '@/components/interfaces/Icon.vue'
import BoxTooltip from '@/components/interfaces/Tooltip.vue'

import utils from '@/utils'
import settings from '@/settings'
import appimages from '@/services/appimages'

export default {
  name: 'BoxAppItem',
  components: {
    BoxIcon,
    BoxTooltip,
  },
  data() {
    return {
      latest: null,
    }
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    iconUrl() {
      // We get:
      // 1. Preferred icon size, if available
      // 2. Largest icon size available, if prefferred is not there
      // 3. Default icon image, if no sizes are available
      let url
      if (this.latest.icon_sizes.indexOf(settings.PREFERRED_ICON_SIZE)) {
        url = this.latest.icon_urls[settings.PREFERRED_ICON_SIZE.toString()]
      } else if (this.latest.icon_sizes.length > 0) {
        const size = Math.max(...this.latest.icon_sizes)
        url = this.latest.icon_urls[size.toString()]
      } else {
        url = this.latest.icon_urls['default']
      }
      return utils.pathJoin([settings.URLS.APP.BASE, this.latest.icon_urls['128']])
    },
    installedState() {
      return settings.INSTALLED_STATE[this.latest.install_state]
    },
  },
  mounted() {
    appimages.getUrl(this.item.latest).then(response => {
      this.latest = response.data 
    })
  },
  methods: {
    exploreApp() {
      this.$router.push({ name: 'appinfo', params: { appid: this.latest.id } })
    },
  },
}
</script>
