<template>
  <div>
    <p class="title">{{ item.name }}</p>
    <div class="appinfo">
      <div class="appicon">
        <img :src="iconUrl"/>
      </div>
      <div class="details">
        <span class="label">{{ $t('Version') }} {{ item.version }}</span>
        <span class="developer">{{ $t('Developed by')}} {{ item.developer }}</span>
        <span class="description">{{ item.long_description }}</span>
        <span class="license">
          {{ $t('Licensed under') }} {{ item.license_code }}
          <a @click="licenseDialog">Read license text</a>
          <box-modal
            :active="licenseActive"
            :title="item.license_code"
            @close="licenseDialog">
            {{ item.license_text }}
          </box-modal>
        </span>
      </div>
    </div>
    <div class="appactions">
      <box-button
        :label="$t('Install')"
        :disabled="!canInstall"
        type="is-primary"
        @click="install"
        ></box-button>
      <box-button
        :label="$t('Update')"
        :disabled="!canUpdate"
        type="is-primary"
        @click="update"
        ></box-button>
      <box-button
        :label="$t('Uninstall')"
        :disabled="!canUninstall"
        type="is-danger"
        @click="uninstall"
        ></box-button>
      <box-modal
        :active="ongoingAction"
        :title="$t('Ongoing App Action')">
        <box-progress
          type="is-primary">
        </box-progress>
        {{ actionMessage }}
      </box-modal>
    </div>
    <div>
      <p class="subtitle">{{ $t('Actions') }}</p>
      <box-launcher-list
        class="applaunchers"
        :items="item.launchers">
      </box-launcher-list>
    </div>
  </div>
</template>

<script>
import appimages from '@/services/appimages'

import BoxButton from '@/components/forms/Button.vue'
import BoxModal from '@/components/interfaces/Modal.vue'
import BoxProgress from '@/components/interfaces/Progress.vue'
import BoxLauncherList from '@/components/launchers/LauncherList.vue'

import utils from '@/utils'
import settings from '@/settings'

export default {
  name: 'BoxAppItem',
  components: {
    BoxButton,
    BoxModal,
    BoxProgress,
    BoxLauncherList,
  },
  data() {
    return {
      licenseActive: false,
      ongoingAction: false,
      actionMessage: '',
    }
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    iconUrl() {
      const url = utils.formatString(settings.URLS.API.APP_ICON, {
        appid: `${this.item.codename}-${this.item.version}`,
        size: 32,
      })
      return utils.pathJoin([settings.URLS.API.BASE, url])
    },
    canInstall() {
      return this.item.install_state === 0
    },
    canUninstall() {
      return this.item.install_state === 1
    },
    canUpdate() {
      // TODO compare installed and available versions
      return this.item.install_state === 1
    },
  },
  methods: {
    licenseDialog() {
      this.licenseActive = !this.licenseActive
    },
    install() {
      this.ongoingAction = true
      this.actionMessage = 'The app is being installed'
      appimages.installApp(this.item.id).then(response => {
        console.log(response)
        this.ongoingAction = false
        this.$emit('onReload')
      }).catch(err => {
        console.log(err)
        this.$store.commit('setErrors', err.response)
        this.ongoingAction = false
      })
    },
    uninstall() {
      this.ongoingAction = true
      this.actionMessage = 'The app is being uninstalled'
      appimages.uninstallApp(this.item.id).then(response => {
        console.log(response)
        this.ongoingAction = false
        this.$emit('onReload')
      }).catch(err => {
        console.log(err)
        this.$store.commit('setErrors', err.response)
        this.ongoingAction = false
      })
    },
    update() {
      console.log("TODO: update app")  
    },
  },
}
</script>

<style scoped lang="scss">
@import '~@/styles/components/appimage.scss';
</style>
