<template>
  <div class="applist columns is-mobile is-multiline">
    <div
      class="empty"
      v-if="items.length === 0">
      {{ $t('There are no apps available') }}
    </div>
    <box-app-item
      v-for="item of items"
      :key="item.id"
      :item="item">
    </box-app-item>
  </div>
</template>

<script>
import BoxAppItem from '@/components/apps/AppItem.vue'

export default {
  name: 'BoxAppList',
  components: {
    BoxAppItem,
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
}
</script>

<style lang="scss">
@import '~@/styles/components/appimage.scss';
</style>
