// Import Bulma core
@import '~bulma/sass/utilities/_all';

// Some iuvia color attempts:
$iuvia-primary:      #3dbfc1;
$iuvia-primary-dark: #05828e;
$iuvia-secondary:    #c14e5f;

// Set your colors
$primary: $iuvia-primary;
$primary-invert: findColorInvert($primary);

// Light grays
$gray-01: #e7eaef;
$gray-02: #ccd2db; 

// Dark grays
$gray-11: #9ba8b8;
$gray-12: #545f6c;
$gray-13: #23262b;

// Setup $colors to use as bulma classes (e.g. 'is-primary')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "secondary": ($primary-invert, $primary),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;
