<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p><strong>BoxUI</strong>, a web interface for <a href="https://www.iuvia.io">iuvia.io</a></p>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'BoxFooter',
}
</script>

<style lang="scss">
@import '../../styles/components/footer.scss';
</style>
