<template>
  <header>
    <box-navbar
      :items="menuItems">
    </box-navbar>
  </header>
</template>

<script>
import BoxNavbar from './Navbar.vue'

export default {
  name: 'BoxHeader',
  components: {
    BoxNavbar,
  },
  data() {
    return {
      menuItems: [
        {
          label: this.$t('Dashboard'),
          icon: 'home',
          type: 'is-menu-button',
          to: '/',
        },
        {
          label: this.$t('Launchers'),
          icon: 'launchers',
          type: 'is-menu-button',
          to: '/launchers',
        },
        {
          label: this.$t('Settings'),
          icon: 'marketplace',
          type: 'is-menu-button',
          to: '/settings',
        },
        {
          label: this.$t('Marketplace'),
          icon: 'settings',
          type: 'is-menu-button',
          to: '/marketplace',
        },
      ],
    }
  },
}
</script>

<style lang="scss">
@import '../../styles/components/navbars.scss';
</style>
