<template>
  <nav
    role="navigation"
    aria-label="main navigation"
    class="navbar navbar-top is-fixed-top is-spaced">
    <div class="container">
      <div class="navbar-brand">
        <a href="#/"
           class="navbar-logo navbar-item router-link-exact-active router-link-active">
        </a>
      </div>

      <nav class="navbar-buttons">
        <div class="container">
          <div class="columns is-mobile is-gapless">
            <div
              v-for="(item, index) of items"
              :key="index"
              class="column">
              <box-button
                :label="item.label"
                :type="item.type"
                :icon="item.icon"
                icon-pack="iuvicon"
                size="is-medium"
                tag="router-link"
                :to="item.to">
              </box-button>
            </div>
          </div>
        </div>
      </nav>

      <div class="navbar-shutdown">
        <box-dropdown
          position='is-bottom-left'
          @change="onChange">
          <template v-slot:trigger>
            <box-icon icon="power"></box-icon>
          </template>
          <template v-slot:default>
            <div class="item" value="profile">
              {{ $t('Logged in as') }} <strong>{{ username }}</strong>
            </div>
            <hr class="dropdown-divider">
            <div class="item" value="listSessions">
              <box-icon icon="cellphone-link" type="is-primary"></box-icon>
              {{ $t('List all sessions') }}
            </div>
            <div class="item" value="logoutAll">
              <box-icon icon="close-outline" type="is-primary"></box-icon>
              {{ $t('Close all sessions') }}
            </div>
            <hr class="dropdown-divider">
            <div class="item" value="logout">
              <box-icon icon="logout-variant" type="is-primary"></box-icon>
              {{ $t('Logout') }}
            </div>
          </template>
        </box-dropdown>
      </div>
    </div>
  </nav>
</template>

<script>
import BoxButton from '@/components/forms/Button.vue'
import BoxDropdown from '@/components/interfaces/Dropdown.vue'
import BoxIcon from '@/components/interfaces/Icon.vue'

export default {
  name: 'BoxNavbar',
  components: {
    BoxButton,
    BoxDropdown,
    BoxIcon,
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      menuActive: false,
    }
  },
  computed: {
    username() {
      return this.$store.getters.username
    },
  },
  methods: {
    onChange(event) {
      switch (event) {
        case 'logout':
          this.logout()
          break
        case 'logoutAll':
          this.logoutAllSessions()
          break
        case 'listSessions':
          this.gotoSessions()
          break
        default:
          // Default case, do nothing
      }
    },
    toggleMenu() {
      this.menuActive = !this.menuActive
    },
    gotoSessions() {
      this.$router.push({ name: 'session-manager' })
    },
    logout() {
      this.$store.dispatch('logout').then(() => {
        this.$router.push('/login')
      }).catch(err => {
        this.$store.commit('setErrors', err.response)
      })
    },
    logoutAllSessions() {
      this.$store.dispatch('logoutAll').then(() => {
        this.$router.push('/login')
      }).catch(err => {
        this.$store.commit('setErrors', err.response)
      })
    },
  },
}
</script>
