<template>
  <div class="columns is-mobile is-multiline">
    <box-session-item
      v-for="item of items"
      :key="item.token_key"
      :item="item"
      @reload="reload">
    </box-session-item>
  </div>
</template>

<script>
import BoxSessionItem from './SessionItem.vue'

export default {
  name: 'BoxSessionList',
  components: {
    BoxSessionItem,
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    reload() {
      this.$emit('reload')
    },
  },
}
</script>
