<template>
  <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
    <div
      class="card session"
      :class="{ active: isActiveSession }">
      <box-icon
        :icon="deviceIcon"
        type="is-primary"
        size="is-large">
      </box-icon>
      <div class="timestamps">
        <span>{{ $t('Created on') }} <strong>{{ creationDate }}</strong></span>
        <span>{{ $t('Expires on') }} <strong>{{ expiryDate }}</strong></span>
      </div>
      <div class="description">{{ item.session.user_agent }}</div>
      <box-button
        :label="$t('Close this session')"
        type="is-primary"
        size="is-small"
        @click="close">
      </box-button>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

import BoxButton from '../forms/Button.vue'
import BoxIcon from '../interfaces/Icon.vue'
import authentication from '../../services/authentication'

import utils from '../../utils'

export default {
  name: 'BoxSessionItem',
  components: {
    BoxButton,
    BoxIcon,
  },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isActiveSession() {
      return this.item.is_current_session
    },
    creationDate() {
      return moment(this.item.created).format('LLL')
    },
    expiryDate() {
      return moment(this.item.expiry).format('LLL')
    },
    deviceIcon() {
      return utils.deviceIcon(this.item.session.device_type)
    },
  },
  methods: {
    close() {
      if (this.isActiveSession) {
        this.$store.dispatch('logout').then(() => {
          this.$router.push('/login')
        }).catch(err => {
          this.$store.commit('setErrors', err.response)
        })
      } else {
        authentication.closeSession(this.item.token_key).then(() => {
          this.$emit('reload')
        }).catch(err => {
          console.error(err)
        })
      }
    },
  },
}
</script>

<style scoped lang="scss">
@import '../../styles/components/session.scss';
</style>
