<template>
  <section>
    <div class="container">
      <box-app-list
        :items="apps">
      </box-app-list>
    </div>
  </section>
</template>

<script>
import appimages from '../../services/appimages'
import BoxAppList from '../../components/apps/AppList.vue'

export default {
  name: 'BoxAppManager',
  components: {
    BoxAppList,
  },
  data() {
    return {
      apps: [],
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      appimages.getInstalledApps().then(response => {
        this.apps = response.data
      }).catch(err => {
        // TODO show alert
        console.log(err)
      })
    },
  },
}
</script>
