<template>
  <section>
    <div class="container">
      <box-app-info
        v-if="app"
        :item="app"
        @onReload="init">
      </box-app-info>
    </div>
  </section>
</template>

<script>
import BoxAppInfo from '@/components/apps/AppInfo.vue'
import appimages from '@/services/appimages'

export default {
  name: 'BoxAppManagerDetail',
  components: {
    BoxAppInfo,
  },
  data() {
    return {
      app: null,
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      appimages.getAppDetails(this.$route.params.appid).then(response => {
        this.app = response.data
      }).catch(err => {
        console.log(err)
      })
    },
  },
}
</script>
