<template>
  <section>
    <div class="container settings-menu">
      <box-button
        v-for="(option, index) of options"
        :key="index"
        :label="option.label"
        :icon="option.icon"
        :to="option.to"
        type="is-light"
        size="is-medium"
        tag="router-link">
      </box-button>
    </div>
  </section>
</template>

<script>
import BoxButton from '../../components/forms/Button.vue'

export default {
  name: 'BoxDeviceManager',
  components: {
    BoxButton,
  },
  data() {
    return {
      options: [
        {
          label: this.$t('DNS Services'),
          icon: 'lan',
          to: { name: 'device-manager' },
        },
        {
          label: this.$t('On/Off Behavior'),
          icon: 'power',
          to: { name: 'device-manager' },
        },
        {
          label: this.$t('Backups'),
          icon: 'cloud-upload',
          to: { name: 'device-manager' },
        },
        {
          label: this.$t('Energy Consumption'),
          icon: 'power-plug',
          to: { name: 'device-manager' },
        },
        {
          label: this.$t('Diagnostics'),
          icon: 'check-outline',
          to: { name: 'device-manager' },
        },
        {
          label: this.$t('Updates'),
          icon: 'update',
          to: { name: 'device-manager' },
        },
        {
          label: this.$t('About'),
          icon: 'information-outline',
          to: { name: 'device-manager' },
        },
      ],
    }
  },
}
</script>
