<template>
  <section>
    <div class="container settings-menu">
      <box-button
        v-for="(option, index) of options"
        :key="index"
        :label="option.label"
        :icon="option.icon"
        :to="option.to"
        type="is-light"
        size="is-medium"
        tag="router-link">
      </box-button>
    </div>
  </section>
</template>

<script>
import BoxButton from '../../components/forms/Button.vue'

export default {
  name: 'BoxSubscriptionManager',
  components: {
    BoxButton,
  },
  data() {
    return {
      options: [
        {
          label: this.$t('Payments'),
          icon: 'playlist-check',
          to: { name: 'subscription-manager' },
        },
        {
          label: this.$t('Billing'),
          icon: 'credit-card',
          to: { name: 'subscription-manager' },
        },
      ],
    }
  },
}
</script>
