/* IUVIA icons */
@charset "UTF-8";

@font-face {
  font-family: "iuvia-icons";
  src:url("~@/assets/fonts/iuvia-icons.eot");
  src:url("~@/assets/fonts/iuvia-icons.eot?#iefix") format("embedded-opentype"),
    url("~@/assets/fonts/iuvia-icons.woff") format("woff"),
    url("~@/assets/fonts/iuvia-icons.ttf") format("truetype"),
    url("~@/assets/fonts/iuvia-icons.svg#iuvia-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.iuvicon:before {
  font-family: "iuvia-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1 !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.drops-box:before {
  content: "\63";
}
.drops-outline:before {
  content: "\62";
}
.drops:before {
  content: "\61";
}
.hamburguer:before {
  content: "\64";
}
.launchers:before {
  content: "\65";
}
.marketplace:before {
  content: "\66";
}
.settings:before {
  content: "\67";
}
.home:before {
  content: "\68";
}
