{% load render_bundle from webpack_loader %}{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="{% static "favicon.ico" %}">
    <title>{% block title %}{{ site_name }}{% endblock title %}</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript><div id="app">
     <app></app>
 </div>{% render_bundle 'app' %}<!-- built files will be auto injected -->
  </body>
</html>
