<template>
  <b-button
    :label="label"
    :type="type"
    :size="size"
    :icon-left="icon"
    :icon-pack="iconPack"
    :loading="loading"
    :disabled="disabled"
    :tag="tag"
    :native-type="isSubmit ? 'submit' : null"
    :value="isSubmit ? label : null"
    :href="isLink ? to : null"
    :to="isRouterLink ? to : null"
    @click="submit">
  </b-button>
</template>

<script>
export default {
  name: 'BoxButton',
  props: {
    label: String,
    type: {
      type: String,
      default: 'is-primary',
    },
    size: String,
    icon: String, // icon will be icon-left
    iconPack: {
      type: String,
      default: 'mdi',
    },
    loading: Boolean,
    disabled: Boolean,
    tag: {
      type: String, // 'router-link' | 'input' | 'a' | 'button'
      default: 'button',
      validator: value => ['router-link', 'input', 'a', 'button'].indexOf(value) >= 0,
    },
    to: {
      type: [String, Object],
      default: null,
    },
  },
  computed: {
    isSubmit() {
      return this.tag === 'input'
    },
    isRouterLink() {
      return this.tag === 'router-link'
    },
    isLink() {
      return this.tag === 'a'
    },
  },
  methods: {
    submit(data) {
      this.$emit('click', data)
    },
  },
}
</script>
