<template>
  <b-field
    :label="label"
    :type="fieldType"
    :message="message">
    <b-input
      :placeholder="placeholder"
      :value="value"
      @input="$emit('input', $event)"
      :type="type"
      :passwordReveal="passwordReveal"
      :hasCounter="hasCounter"
      :customClass="customClass"
      :readonly="readonly">
    </b-input>
  </b-field>
</template>

<script>
export default {
  name: 'BoxInput',
  props: {
    // b-field params
    label: String,
    message: String,
    fieldType: String,
    // b-input params
    value: [Number, String],
    type: {
      type: String,
      default: 'text',
    },
    passwordReveal: Boolean,
    hasCounter: Boolean,
    customClass: String,
    readonly: Boolean,
    placeholder: String,
  },
}
</script>
