<template>
  <b-field>
    <b-input v-if="hasPrefixIcon" v-model="inputVal" custom-class="boxui-search-input"
    :placeholder="placeholder" type="search" icon="chevron-down" expanded
    @keypress.native="handleKeypress">
    </b-input>
    <b-input v-else v-model="inputVal" custom-class="boxui-search-input"
    :placeholder="placeholder" type="search" expanded>
    </b-input>
    <p class="control">
      <b-button icon-right="magnify" outlined class="search-button" @click="handleSubmit"></b-button>
    </p>
  </b-field>
</template>

<script>
export default {
  name: 'BoxSearch',
  props: {
    hasPrefixIcon: Boolean,
    placeholder: String,
    value: String,
    onSubmit: Function,
  },
  data() {
    return {
      inputVal: this.value
    }
  },
  methods: {
    handleSubmit() {
      this.$emit('submit', this.inputVal)
    },
    handleKeypress($event) {
      if($event.keyCode === 13) {
        this.handleSubmit()
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '../../styles/components/search-field.scss';
</style>
