<template>
  <section>
    <div class="container">
      <box-user-form
        :user="user"
        :partial="isEdit"
        :readonly="readonly"
        :edit="isEdit"
        @submit="submit">
      </box-user-form>
    </div>
  </section>
</template>

<script>
import users from '@/services/users'
import BoxUserForm from '@/components/users/UserForm.vue'

export default {
  name: 'BoxUserProfileNew',
  components: {
    BoxUserForm,
  },
  data() {
    return {
      user: {},
      readonly: false,
    }
  },
  computed: {
    isEdit() {
      return this.$route.name === 'profile-edit'
    },
  },
  mounted() {
    if (this.$route.params.username) {
      users.getUser(this.$route.params.username).then(response => {
        this.user = response.data
      }).catch(err => {
        this.readonly = true
        this.$store.commit('setErrors', err.response)
      })
    }
  },
  methods: {
    submit(payload) {
      if (this.isEdit) {
        this.readonly = true
        users.updateUser(this.$route.params.username, payload).then(() => {
          this.$router.push({ name: 'profile-manager' })
        }).catch(err => {
          this.readonly = false
          this.$store.commit('setErrors', err.response)
        })
      } else {
        this.readonly = true
        users.createNewUser(payload).then(() => {
          this.$router.push({ name: 'profile-manager' })
        }).catch(err => {
          this.readonly = false
          this.$store.commit('setErrors', err.response)
        })
      }
    },
  },
}
</script>
