<template>
  <section>
    <div class="container">
      <div v-if="hasErrors">
        <box-message
          v-for="(error, index) in errors"
          :key="index"
          type="is-danger">
          {{ error }}
        </box-message>
      </div>
      <box-user-list
        :items="users"
        @onDelete="deleteUser">
      </box-user-list>
    </div>
  </section>
</template>

<script>
import users from '@/services/users'
import BoxUserList from '@/components/users/UserList.vue'
import BoxMessage from '@/components/interfaces/Message.vue'

export default {
  name: 'BoxUserProfileManager',
  components: {
    BoxUserList,
    BoxMessage,
  },
  data() {
    return {
      users: [],
    }
  },
  computed: {
    errors() {
      return this.$store.getters.errors
    },
    hasErrors() {
      return this.$store.getters.hasErrors
    },
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      users.getAllUsers().then(response => {
        this.users = response.data
      }).catch(err => {
        // TODO show alert
        console.log(err)
      })
    },
    deleteUser(username) {
      users.deleteUser(username).then(() => {
        this.init()
      }).catch(err => {
        this.readonly = false
        this.$store.commit('setErrors', err.response)
      })
    },
  },
}
</script>
