<template>
  <div class="card chart">
    <div v-if="title" class="card-header">
      <div v-if="icon" class="card-header-icon">
        <box-icon :icon="icon" />
      </div>
      <div class="card-header-title">
        {{ title }}
      </div>
    </div>
    <div class="card-content">
      <apexchart
        v-if="chart"
        ref="apexchart"
        :type="type"
        :options="chart.chartOptions"
        :series="chart.series"/>
    </div>
  </div>
</template>

<script>
import VueApexCharts from 'vue-apexcharts'
import BoxIcon from '../interfaces/Icon.vue'

import PieChart from '../../types/charts/PieChart'

export default {
  name: 'BoxPieChart',
  components: {
    apexchart: VueApexCharts,
    BoxIcon,
  },
  props: {
    icon: {
      type: String,
      default: null,
    },
    type: {
      type: String,
      default: 'donut',
      validator: value => ['donut', 'pie'].indexOf(value) >= 0,
    },
    title: {
      type: String,
      default: null,
    },
    series: {
      type: Array,
      default: () => [],
    },
    labels: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      chart: null,
    }
  },
  watch: {
    labels() {
      this.init()
    },
    series() {
      this.init()
    },
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      this.chart = new PieChart(this.series, this.labels)
    },
  },
}
</script>
