<template>
  <main class="login">
    <div class="columns is-centered">

      <div class="
        column is-full-mobile
        is-half-tablet is-one-third-desktop
        is-one-third-widescreen is-one-quarter-fullhd">
        <div class="logo">
          <img src="@/assets/images/iuvia-w-130.png" />
        </div>
        <form @submit="submit">
          <box-input
            :placeholder="$t('Username')"
            :field-type="hasErrors ? 'is-danger' : null"
            v-model="username">
          </box-input>
          <box-input
            :placeholder="$t('Password')"
            :field-type="hasErrors ? 'is-danger' : null"
            v-model="password"
            type="password"
            :passwordReveal="true">
          </box-input>
          <div v-if="hasErrors">
            <box-message
              v-for="(error, index) in errors"
              :key="index"
              type="is-danger">
              {{ error }}
            </box-message>
          </div>
          <div class="has-text-right">
            <box-button
              :label="$t('Login')"
              :type="'is-light'"
              :disabled="loading"
              tag="input">
            </box-button>
          </div>
        </form>
      </div>
    </div>
  </main>
</template>

<script>
import BoxButton from '@/components/forms/Button.vue'
import BoxInput from '@/components/forms/Input.vue'
import BoxMessage from '@/components/interfaces/Message.vue'

export default {
  name: 'BoxLoginForm',
  components: {
    BoxButton,
    BoxInput,
    BoxMessage,
  },
  data() {
    return {
      login: true,
      username: '',
      password: '',
      loading: false,
    }
  },
  computed: {
    authenticated() {
      return this.$store.getters.authenticated
    },
    errors() {
      return this.$store.getters.errors
    },
    hasErrors() {
      return this.$store.getters.hasErrors
    },
  },
  methods: {
    submit() {
      this.loading = true
      this.$store.dispatch('authenticate', { username: this.username, password: this.password })
        .then(() => {
          this.$router.push(this.$route.query.redirect || '/')
        })
        .catch(err => {
          this.$store.commit('setErrors', err.response)
        })
        .finally(() => {
          this.loading = false
        })
    },
  },
}
</script>

<style scoped lang="scss">
@import '../../styles/components/login-form.scss';
</style>
