<template>
  <div>
    <form @submit="submit">
      <div v-if="hasErrors">
        <box-message
          v-for="(error, index) in errors"
          :key="index"
          type="is-danger">
          {{ error }}
        </box-message>
      </div>

      <box-input
        :label="$t('Username')"
        :field-type="hasError('uid') ? 'is-danger' : null"
        :readonly="readonly || edit"
        :message="error('uid')"
        v-model="uid">
      </box-input>
      <box-input
        :label="$t('Email')"
        :field-type="hasError('mail.0') ? 'is-danger' : null"
        :readonly="readonly"
        :message="error('mail.0')"
        v-model="mail">
      </box-input>
      <box-input
        :label="edit ? $t('New Password') : $t('Password')"
        :field-type="hasError('userPassword.0') ? 'is-danger' : null"
        :readonly="readonly"
        :message="error('userPassword.0')"
        v-model="password"
        type="password"
        :passwordReveal="true">
      </box-input>
      <box-input
        :label="$t('Repeat Password')"
        :field-type="hasError('userPassword.1') ? 'is-danger' : null"
        :readonly="readonly"
        :message="error('userPassword.1')"
        v-model="repeat_password"
        type="password"
        :passwordReveal="true">
      </box-input>
      <box-input
        :label="$t('First Name')"
        :field-type="hasError('givenName') ? 'is-danger' : null"
        :readonly="readonly"
        :message="error('givenName')"
        v-model="givenName">
      </box-input>
      <box-input
        :label="$t('Last Name')"
        :field-type="hasError('sn') ? 'is-danger' : null"
        :readonly="readonly"
        :message="error('sn')"
        v-model="sn">
      </box-input>

      <div class="buttons bottom">
        <box-button
          :label="$t('Save')"
          :disabled="readonly"
          icon="account-plus"
          type="is-primary"
          size="is-medium"
          tag="input">
        </box-button>
      </div>
    </form>

  </div>
</template>

<script>
import BoxButton from '@/components/forms/Button.vue'
import BoxInput from '@/components/forms/Input.vue'
import BoxMessage from '@/components/interfaces/Message.vue'

export default {
  name: 'BoxUserForm',
  components: {
    BoxButton,
    BoxInput,
    BoxMessage,
  },
  data() {
    return {
      uid: '',
      mail: '',
      password: '',
      repeat_password: '',
      givenName: '',
      sn: '',
    }
  },
  props: {
    user: Object,
    readonly: {
      type: Boolean,
      default: false,
    },
    partial: Boolean,
    edit: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    errors() {
      return this.$store.getters.errors
    },
    hasErrors() {
      return this.$store.getters.hasErrors
    },
    serialized() {
      const serialized = {
        uid: this.uid,
        mail: [this.mail],
        givenName: this.givenName,
        sn: this.sn,
      }
      if (!this.partial || this.password || this.repeat_password) {
        serialized['userPassword'] = [this.password, this.repeat_password]
      }
      return serialized
    },
  },
  watch: {
    user(value) {
      this.uid = value.uid
      this.mail = value.mail[0]
      this.givenName = value.givenName
      this.sn = value.sn
    },
  },
  methods: {
    submit() {
      this.$emit('submit', this.serialized)
    },
    hasError(key) {
      return this.$store.getters.hasError(key)
    },
    error(key) {
      return this.$store.getters.error(key)
    },
  },
}
</script>
