<template>
  <div>
    <div class="userlist">
      <div
        class="empty"
        v-if="items.length === 0">
        {{ $t('There are no users available') }}
      </div>
      <ul>
        <li
          v-for="item of items"
          class="useritem"
          :key="item.uid">
          <box-icon
            class="profile-icon"
            icon="account-circle">
          </box-icon>
          <div class="name">
            <div class="username">
              {{ item.uid }}
            </div>
            <div class="full-name">
              {{ item.givenName }} {{ item.sn }}
            </div>
          </div>
          <div class="mail">
            {{ emailString(item.mail) }}
          </div>
          <div class="actions">
            <box-tooltip
              :label="$t('Edit')">
              <box-button
                icon="pencil"
                tag="router-link"
                :to="{ name: 'profile-edit', params: { username: item.uid }}"
                type="is-primary">
              </box-button>
            </box-tooltip>
            <box-tooltip
              :label="$t('Delete')">
              <box-button
                icon="delete"
                type="is-danger"
                @click="deleteUser(item.uid)">
              </box-button>
            </box-tooltip>
          </div>
        </li>
      </ul>
    </div>
    <div class="buttons bottom">
      <box-button
        :label="$t('Add new user')"
        icon="account-plus"
        type="is-primary"
        size="is-medium"
        tag="router-link"
        :to="{ name: 'profile-new' }">
      </box-button>
    </div>
  </div>
</template>

<script>
import BoxButton from '@/components/forms/Button.vue'
import BoxIcon from '@/components/interfaces/Icon.vue'
import BoxTooltip from '@/components/interfaces/Tooltip.vue'

export default {
  name: 'BoxUserList',
  components: {
    BoxButton,
    BoxIcon,
    BoxTooltip,
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    emailString(emails) {
      return emails.join(', ')
    },
    deleteUser(username) {
      this.$emit('onDelete', username)
    },
    editUser(username) {
      this.$emit('onEdit', username)
    },
  },
}
</script>

<style lang="scss">
@import '~@/styles/components/user.scss';
</style>
