.breadcrumb {
  border-bottom: 1px solid $gray-02;
  padding-bottom: 0.5rem;

  &.no-mobile {
    @include mobile {
      li {
        display: none;
      }
      li.is-active, li.back-button {
        display: flex;
        &::before {
          display: none;
        }
        a {
          padding: 0;
        }
      }
      li.back-button {
        a {
          color: $dark;
        }
      }
    }
  }
}
