.dashboard-section {
  position: relative;
  padding: $pad-mobile 0;
  margin-bottom: $pad-general;
  margin-bottom: $pad-general + $pad-mobile;
  border-top: 1px solid rgba(0,0,0,0.1);

  >.title {
    font-size: 1.2rem;
    position: absolute;
    top: -1.5rem;
    left: 0;

  }
 
  @include desktop {
    padding: $pad-mobile;
  }
}
