.launcherlist {
  .launcher {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px $gray-02;


    >div {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    img.thumbnail {
      margin: 10px 0;
    }

    span.label {
      text-align: center;
      font-size: 1rem;
      color: $gray-11;
    }

    span.description {
      text-align: center;
      font-size: 0.75rem;
      color: $gray-13;
    }

    &:hover {
      background-color: $iuvia-primary;
      span.label,
      span.icon,
      span.description {
        color: $white !important;
      }
    }
  }

  &.applaunchers {

  }
}
