nav.navbar-top {
  box-shadow: $navbar-top-shadow;
  background-color: $navbar-top-background-color;
  .dropdown {
    .dropdown-item {
      .icon {
        margin-right: 0.5rem;
      }
    }
    .dropdown-item.is-active {
      .icon {
        color: $white !important;
      }
    }
  }
  >.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >.navbar-brand {
      flex-grow: 0;
      a.navbar-logo {
        padding: 0;
        margin: 10px;
        width: 100px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../../assets/images/iuvia-b-130.png');
      }
    }
    >.navbar-buttons {
      flex-grow: 1;
    }
    >.navbar-shutdown {
      flex-grow: 0;
      color: $navbar-top-link-color;
      margin: 0.5rem;
      @include desktop {
        margin: 0rem;
      }
    }
  }
}

nav.navbar-buttons {
  .button {
    background-color: transparent;
    color: $navbar-top-link-color;
    border: 0;
    border-radius: 0;
    &.router-link-exact-active {
      background-color: $navbar-top-background-color-active;
      color: $navbar-top-link-color-active;
    }
  }

  @include mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $navbar-bottom-background-color;
    color: $navbar-bottom-link-color;
    box-shadow: $navbar-bottom-shadow;
    .button {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 4rem;
      padding: 0;
      span {
        display: block;
      }
      span:not(.icon) {
        font-size: 0.75rem;
      }
      span.icon {
        margin: 0 !important;
        font-size: 1.6rem;
        height: 30px;
      }
      &.router-link-exact-active {
        background-color: $navbar-bottom-background-color-active;
        color: $navbar-bottom-link-color-active;
      }
    }
  }

  @include tablet {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $navbar-bottom-background-color;
    color: $navbar-bottom-link-color;
    box-shadow: $navbar-bottom-shadow;
    .button {
      width: 100%;
      &.router-link-exact-active {
        background-color: $navbar-bottom-background-color-active;
        color: $navbar-bottom-link-color-active;
      }
    }
  }

  @include desktop {
    position: relative;
    bottom: none;
    width: auto;
    background-color: $navbar-top-background-color;
    color: $navbar-top-link-color;
    box-shadow: none;
    .button {
      &.router-link-exact-active {
        background-color: $navbar-top-background-color-active;
        color: $navbar-top-link-color-active;
      }
    }
    .columns>.column {
      flex: none;
    }
  }
}
