.session {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  &.active::before {
    content: 'ACTIVE';
    background-color: $primary;
    color: $white;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    font-size: 0.75rem;
    padding: 2px 7px;
  }

  .icon {
    margin: 0.5rem;
  }
  
  div.timestamps {
    margin-top: 0.5rem;
    >span {
      display: block;
    }
  }

  div.description {
    margin: 1rem 0;
    font-size: 0.75rem;
    color: $primary;
    text-align: center;
  }
}

