.settings-menu {
  border-radius: $generic-border-radius;
  box-shadow: $generic-box-shadow;
  border: $generic-border;
  overflow: hidden;

  .button {
    display: block;
    border-radius: 0;
    border-bottom: 1px solid $gray-02 !important;
    text-align: left;
    height: 62px;
    padding: 15px;
 
    &::after {
      content: "\F142";
      position: absolute;
      right: 30px;
      color: $gray-02;
      display: inline-block;
      font: normal normal normal 24px/1 "Material Design Icons";
      font-size: 24px;
      line-height: 1;
      font-size: inherit;
      text-rendering: auto;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
   
    &:hover, &.is-hovered {
      background-color: $gray-02 !important;

      &::after {
        color: $white;
      }
    }

    &:last-child {
      border-bottom: 0px !important;
    }
  }

  @include desktop {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // .button {
    //   display: inline;
    // }
  }
}
