.userlist {

  ul {
    border-radius: $generic-border-radius;
    box-shadow: $generic-box-shadow;
    border: $generic-border;

    li.useritem {
      background-color: $white;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 0;
      border-bottom: $generic-border !important;
      text-align: left;
      padding: 15px;

      &:last-child {
        border-bottom: 0px !important;
        border-radius: 0 0 $generic-border-radius $generic-border-radius;
      }
      &:first-child {
        border-radius: $generic-border-radius $generic-border-radius 0 0;
      }
      
      .profile-icon {
        color: $gray-02;
        margin-right: $pad-mobile;
      }
      .profile-icon, .actions {
        flex-grow: 0;
      } 
      .name, .mail {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        flex-direction: column;
        .username {
          font-weight: bold;
        }
      }
      .actions {
        .button {
          margin-left: 5px;
        }
      }
    }
  }
}
