<template>
  <section>
    <div class="container">
      <box-launcher-list
        :items="launchers">
      </box-launcher-list>
    </div>
  </section>
</template>

<script>
import launchers from '../services/launchers'
import BoxLauncherList from '../components/launchers/LauncherList.vue'

export default {
  name: 'BoxLaunchers',
  components: {
    BoxLauncherList,
  },
  data() {
    return {
      launchers: [],
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      launchers.getLaunchers().then(response => {
        this.launchers = response.data.results
      }).catch(err => {
        // TODO handle launcher list error
        console.log(err)
      })
    },
  },
}
</script>
