<template>
  <div>
    <box-login-form>
    </box-login-form>
  </div>
</template>

<script>
import BoxLoginForm from '../components/authentication/LoginForm.vue'

export default {
  name: 'BoxLogin',
  components: {
    BoxLoginForm,
  },
}
</script>
