<template>
  <section>
    <div class="container">
      <p class="title">{{ $t('App Marketplace') }}</p>
      <box-app-list
        :items="apps">
      </box-app-list>
    </div>
  </section>
</template>

<script>
import appimages from '@/services/appimages'
import BoxAppList from '@/components/apps/AppList.vue'

export default {
  name: 'BoxMarketplace',
  components: {
    BoxAppList,
  },
  data() {
    return {
      apps: [],
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    init() {
      appimages.getMarketedApps().then(response => {
        this.apps = response.data
      }).catch(err => {
        console.log(err)
      })
    },
  },
}
</script>
