<template>
  <section>
    <div class="container settings-menu">
      <box-button
        v-for="(option, index) of options"
        :key="index"
        :label="option.label"
        :icon="option.icon"
        :to="option.to"
        type="is-light"
        size="is-medium"
        tag="router-link">
      </box-button>
    </div>
  </section>
</template>

<script>
import BoxButton from '../components/forms/Button.vue'

export default {
  name: 'BoxSettings',
  components: {
    BoxButton,
  },
  data() {
    return {
      options: [
        {
          label: this.$t('Device Settings'),
          icon: 'harddisk',
          to: { name: 'device-manager' },
        },
        {
          label: this.$t('Subscription Management'),
          icon: 'clipboard-account',
          to: { name: 'subscription-manager' },
        },
        {
          label: this.$t('User Management'),
          icon: 'account-multiple',
          to: { name: 'user-manager' },
        },
        {
          label: this.$t('App Management'),
          icon: 'apps',
          to: { name: 'app-manager' },
        },
      ],
    }
  },
}
</script>

<style lang="scss">
@import '../styles/components/settings.scss';
</style>
