{% macro upstream(backend) -%}
server {{ backend }};
{%- endmacro %}
{%- macro listen(content) %}
      listen {{ content }};
      {% if enable_ipv6 -%}
      listen [::]:{{ content }};
      {%- endif -%}
{% endmacro -%}
{% macro server_name(service) %}
  server_name {% for tld in tlds %}{{ service.name }}.{{ tld }}
              {% endfor -%}
              {{ service.name }}-{{ avahi_hostname }};
{% endmacro %}

{% macro server_logic(host, proto, service)  %}
      {%- if exists("/etc/nginx/vhost.d/{}".format(host)) -%}
	include {{ "/etc/nginx/vhost.d/{}".format(host) }};
      {%- elif exists("/etc/nginx/vhost.d/default") -%}
	include /etc/nginx/vhost.d/default;
      {%- endif -%}

      location / {
      {% if proto == "uwsgi" -%}
	include uwsgi_params;
	uwsgi_pass {{ proto|trim }}://{{ service.name|trim }};
      {%- elif proto == "fastcgi" -%}
	root   {{ vhost_root|trim }};
	include fastcgi_params;
	fastcgi_pass {{ service.name|trim }};
      {%- else -%}
	  proxy_pass {{ proto|trim }}://{{ service.name|trim }};
      {%- endif -%}

      {% if exists("/etc/nginx/htpasswd/{}".format(host)) -%}
	auth_basic	"Restricted {{ host }}";
	auth_basic_user_file	{{ "/etc/nginx/htpasswd/{}".format(host) }};
      {%- endif -%}

      {% if exists("/etc/nginx/vhost.d/{}_location".format(host)) -%}
	include {{ "/etc/nginx/vhost.d/{}_location".format(host) }};
      {%- elif exists("/etc/nginx/vhost.d/default_location") -%}
	include /etc/nginx/vhost.d/default_location;
      {%- endif %}
    }
{% endmacro %}

{%- macro render_ssl_policy(ssl_policy) %}
  {% if ssl_policy == "Mozilla-Modern" %}
    ssl_protocols TLSv1.3;
    {# nginx currently lacks ability to choose ciphers in TLS 1.3 in configuration, see https://trac.nginx.org/nginx/ticket/1529 /*}}
    {# a possible workaround can be modify /etc/ssl/openssl.cnf to change it globally (see https://trac.nginx.org/nginx/ticket/1529#comment:12 ) /*}}
    {# explicitly set ngnix default value in order to allow single servers to override the global http value #}
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers off;
  {% elif ssl_policy == "Mozilla-Intermediate" %}
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384';
    ssl_prefer_server_ciphers off;
  {% elif ssl_policy == "Mozilla-Old" %}
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
    ssl_ciphers 'ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA256:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA';
    ssl_prefer_server_ciphers on;
  {% endif %}
{% endmacro %}

user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 768;
	# multi_accept on;
}


http {

# If we receive X-Forwarded-Proto, pass it through; otherwise, pass along the
# scheme used to connect to this server
map $http_x_forwarded_proto $proxy_x_forwarded_proto {
  default $http_x_forwarded_proto;
  ''      $scheme;
}

# If we receive X-Forwarded-Port, pass it through; otherwise, pass along the
# server port the client connected to
map $http_x_forwarded_port $proxy_x_forwarded_port {
  default $http_x_forwarded_port;
  ''      $server_port;
}

# If we receive Upgrade, set Connection to "upgrade"; otherwise, delete any
# Connection header that may have been passed to this server
map $http_upgrade $proxy_connection {
  default upgrade;
  '' close;
}

# Apply fix for very long server names
server_names_hash_bucket_size 128;

# Default dhparam
{% if exists("/etc/nginx/dhparam/dhparam.pem") -%}
ssl_dhparam /etc/nginx/dhparam/dhparam.pem;
{%- endif %}

# Set appropriate X-Forwarded-Ssl header
map $scheme $proxy_x_forwarded_ssl {
  default off;
  https on;
}

gzip_types text/plain text/css application/javascript application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

log_format vhost '$host $remote_addr - $remote_user [$time_local] '
                 '"$request" $status $body_bytes_sent '
                 '"$http_referer" "$http_user_agent"';

access_log off;

{# Get the SSL_POLICY defined by this container, falling back to "Mozilla-Intermediate" #}
{% set ssl_policy = Env['SSL_POLICY'] or "Mozilla-Intermediate" %}
{{ render_ssl_policy(ssl_policy) }}

{% if Env['RESOLVERS'] is defined %}
resolver {{ Env['RESOLVERS'] }};
{% endif %}

{% if exists("/etc/nginx/proxy.conf") %}
include /etc/nginx/proxy.conf;
{% else %}
# HTTP 1.1 support
proxy_http_version 1.1;
proxy_buffering off;
proxy_set_header Host $http_host;
proxy_set_header Upgrade $http_upgrade;
proxy_set_header Connection $proxy_connection;
proxy_set_header X-Real-IP $remote_addr;
proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header X-Forwarded-Proto $proxy_x_forwarded_proto;
proxy_set_header X-Forwarded-Ssl $proxy_x_forwarded_ssl;
proxy_set_header X-Forwarded-Port $proxy_x_forwarded_port;

# Mitigate httpoxy attack (see README for details)
proxy_set_header Proxy "";
{% endif %}

{% set enable_ipv6 = Env['ENABLE_IPV6'] or false %}
server {
        server_name _; # This is just an invalid value which will never trigger on a real hostname.
        listen 80;
        {% if enable_ipv6 %}
        listen [::]:80;
        {% endif %}
        access_log /var/log/nginx/access.log vhost;
        return 503;
}

{% if exists("/etc/nginx/certs/default.crt") and exists("/etc/nginx/certs/default.key") %}
server {
        server_name _; # This is just an invalid value which will never trigger on a real hostname.
        listen 443 ssl http2;
        {% if enable_ipv6 %}
        listen [::]:443 ssl http2;
        {% endif %}
        access_log /var/log/nginx/access.log vhost;
        return 503;

        ssl_session_cache shared:SSL:50m;
        ssl_session_tickets off;
        ssl_certificate /etc/nginx/certs/default.crt;
        ssl_certificate_key /etc/nginx/certs/default.key;
}
{% endif %}

{% for service in services %}
# Service name: {{ service.name }}
  upstream {{ service.name }} {
  {%- if service.backend != "down" %}
    # Service available and listening
    {{ upstream(service.backend) }}
  {%- else %}
    server 127.0.0.1 down;
  {% endif %}
  }
  {%- set default_host = Env["DEFAULT_HOST"] or "" %}
  {%- set default_server = Env["DEFAULT_SERVER"] or "" %}
  {%- set proto = service.proto or "http" %}
  {%- set network_tag = "external" %}
  {%- set https_method = service.https_method or "redirect" %}
  {%- set ssl_policy = service.ssl_policy or ssl_policy %}
  {%- set hsts = service.hsts or "max-age=31536000" %}
  {%- set vhost_root = service.virtual_root or "/var/www/public" %}
  {%- set certName = service.cert_name %}{# Service can provide a cert path #}
  {#- TODO set vhostCert = closest_file("/etc/nginx/certs", host) #}
  {%- set cert = certName or vhostCert %}
  {%- set isHttps = https_method != "nohttps" and cert and exists("/etc/nginx/certs/{}.crt".format(cert)) and exists("/etc/nginx/certs/{}.key".format(cert)) %}
  {%- set host = service.domain %}

  {%- if isHttps -%}
    {%- if https_method == "redirect" %}
      server {
        {{ server_name(service) }}
        {{ listen("80 " + default_server) }}
        access_log /var/log/nginx/access.log vhost;
        return 301 https://$host$request_uri;
      }
    {% endif %}

    server {
      {{ server_name(service) }}
      {{ listen("443 ssl http2 " + default_server) }}
      access_log /var/log/nginx/access.log vhost;
      {{ render_ssl_policy(ssl_policy) }}
      ssl_session_timeout 5m;
      ssl_session_cache shared:SSL:50m;
      ssl_session_tickets off;

      ssl_certificate /etc/nginx/cers/{{ cert }}.crt;
      ssl_certificate_key /etc/nginx/cers/{{ cert }}.key;

      {% if exists("/etc/nginx/certs/{}.dhparam.pem".format(cert)) %}
        ssl_dhparam {{ "/etc/nginx/certs/{}.dhparam.pem".format(cert) }};
      {% endif %}

      {% if exists("/etc/nginx/certs/{}.chain.pem".format(cert)) %}
	ssl_stapling on;
	ssl_stapling_verify on;
	ssl_trusted_certificate {{ "/etc/nginx/certs/{}.chain.pem".format(cert) }};
      {% endif %}

      {% if https_method != "noredirect" and hsts != "off" %}
	add_header Strict-Transport-Security "{{ hsts|trim }}" always;
      {% endif %}
      {{ server_logic(host, proto, service) }}
}
{% endif %}

{%- if (not isHttps) or https_method == "noredirect" %}
  server {
    {{ server_name(service) }}
    {{ listen("80 " + default_server) }}
    access_log /var/log/nginx/access.log vhost;
    {{ server_logic(host, proto, service) }}
  }

{%- if (not isHttps) and exists("/etc/nginx/certs/default.crt") and exists("/etc/nginx/certs/default.key") %}
  server {
    {{ server_name(service) }}
    {{ listen("443 ssl http2 " + default_server) }}
    access_log /var/log/nginx/access.log vhost;
    return 500;

    ssl_certificate /etc/nginx/certs/default.crt;
    ssl_certificate_key /etc/nginx/certs/default.key;
  }
{%- endif -%}
{%- endif -%}
{%- endfor -%}

}

{# Local Variables: #}
{# mode: jinja2 #}
{# indent-tabs-mode: nil #}
{# End: #}
